# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local properties
local.properties

# Log files
*.log

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Misc
*.swp
*.swo
*.DS_Store

/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
