# CocoaPods
Pods/
Podfile.lock

# Flutter
Flutter/

# Xcode
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.xcuserdata
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build
build/

# Misc
*.swp
*.swo
*.DS_Store
